<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить работу</title>
</head>
<body>
<h1>Добавить новый товар</h1>
<form method="post">
    Пароль: <input type="password" name="password"><br>
    Название: <input type="text" name="title"><br>
    Цена: <input type="text" name="price"><br>
    Материалы: <input type="text" name="materials"><br>
    Описание: <textarea name="description"></textarea><br>
    Ссылка на главное изображение: <input type="text" name="image"><br>
    Доп. фото (через запятую): <input type="text" name="images"><br>
    <input type="submit" value="Добавить">
</form>
<p><a href="/">← Назад</a></p>
</body>
</html>